<h3><%= t('.header', title: @test_passage.test.title) %></h3>
<h4>
  <%= t('.passed_questions', count:@test_passage.correct_questions, total: @test_passage.test.questions.count ) %>
</h4>

<%= define_result %>

<%= link_to t('.back'), tests_path %>
