
<footer>
<hr>
  <div>
    <div>
      <p ><%= current_year %></p>
      <p >Yarex</p>
      <p ><%= github_url("yarexmarvin", "TestGuru") %></p>
      <p>This is a training project<p>
      <p ><%= link_to 'Учебный проект в онлайн-школе Thinknetica',  "https://thinknetica.com", target:"_blank" %></p>
    </div>
  </div>
</footer> 
