
<footer>
<hr>
  <div>
    <div>
      <p ><%= current_year %></p>
      <p >Yarex</p>
      <p ><%= github_url("yarexmarvin", "TestGuru") %></p>
      <p>This is a training project<p>
      <p ><a href="https://thinknetica.com" >Учебный проект в онлайн-школе Thinknetica</a></p>
    </div>
  </div>
</footer> 