<li>
  <%= answer.body %><br />
  <%= link_to t('system.button.show'), admin_answer_path(answer) %> 
  <%= link_to t('system.button.edit'), edit_admin_answer_path(answer) %> 
  <%= link_to t('system.button.delete'), admin_answer_path(answer), method: :delete, data: {confirm: t('system.modal.confirm') } %>
</li>
