<tr>
  <td><%= question.body %></td>
  <td class="d-flex justify-content-center flex-wrap">
    <%= link_to t('system.button.show'), admin_question_path(question), class:'btn m-1' %>
 
    <%= link_to t('system.button.edit'), edit_admin_question_path(question), class:'btn btn-warning m-1' %>
   
    <%= link_to t('system.button.delete'), admin_question_path(question), method: :delete, class:'btn btn-danger m-1', data: {confirm: t('system.modal.confirm') } %>
  </td>
</tr>
