 @import "bootstrap";
 @import "typography/icons";
 @import "global";

/* footer */
.footer__content>div {
    display: flex;
    justify-content: center;
}

.footer__content>div p {
    margin: 5px
}

/* header */

.header__wrapper,
.header__wrapper div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper div p {
    margin: 0 10px
}

/* test_passage */
.test_passed {
    color: green
}

.test_not_passed {
    color: tomato
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    border: 2px solid black;
}
.progress-bar-inner {
    position: absolute;
    width: 0%;
    height: 20px;
    background-color: green;
}



.badge-img {
    max-width: 100px;
    height: auto;
    img {
      object-fit: contain;
      max-width: 100px;
    }
  }
