<%= form_with model: [:admin, test], url: update_inline_admin_test_path(test), 
                                     local: true, 
                                     class: 'form-inline hide', 
                                     data: { test_id: test.id } do |form| %>
  <div class="align-middle">
    <%= form.text_field :title, id: :test_title %>
    <%= form.submit class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>

