<h2>All tests:</h2>
<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>
<table>
  <tr>
    <th>Test</td>
    <th>Level</td>
    <th>Questions</td>
    <th collapse="3">Actions</td>
  </tr>
<%= render @tests %>
</table>
